@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/swiper-bundle.css';
@import 'swiper/css/effect-creative';
@import 'swiper/css/effect-fade';

::selection{
  @apply bg-green text-[white]
}

.container {
  @apply px-[35px] !w-full max-w-full md:px-[16px]
}

h1 {
  @apply text-[56px] text-[white] lg:text-[40px] md:text-[32px] sm:text-[25px]
}

h2 {
  @apply text-[48px] xl:text-[30px] text-[#000] font-bold md:text-[35px] smd:text-[30px] sm:text-[26px]
}
h4{
  @apply text-[32px] xl:text-[25px] lg:text-[22px] md:text-[20px] sm:text-[18px] 
}
span{
  @apply text-[24px] text-grey mb-[-10px] md:text-[18px] sm:text-[16px]
}
.dropdown span{
  @apply m-0 text-[18px] sm:text-[16px]
}
.green span{
  @apply !text-green font-bold
}
body::-webkit-scrollbar{
  background-color: #DBDBDB;
}

body{
  scrollbar-color:#35CC61 #DBDBDB;
  margin: 0 !important;
}

body::-webkit-scrollbar-thumb{
  /* width: 10px; */
  background-color: #35CC61 !important;
  border-radius: 5px;
}