/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* 
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/swiper-bundle.css';
@import 'swiper/css/effect-creative';
@import 'swiper/css/effect-fade'; */



/* .container {
  @apply px-[35px] !w-full max-w-full md:px-[16px]

}

.container-lg {
  @apply px-[100px] !w-full max-w-full md:px-[50px] smd:px-[35px] sm:px-[20px] 
}

.dark-title {
  @apply text-dark font-roboto font-bold text-5xl md:text-3xl sm:text-xl font-bold; 
}

.scrollbar::-webkit-scrollbar {
  width: 16px;
  height: 20px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #DBDBDB;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: 10px;
  background: #35CC61;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #45D483;
}

h1 {
  @apply text-[56px] text-[white] lg:text-[40px] md:text-[32px] sm:text-[25px]
}

h2 {
  @apply text-[48px] xl:text-[30px] text-[#000] font-bold md:text-[35px] smd:text-[30px] sm:text-[26px]
}
h4{
  @apply text-[32px] xl:text-[25px] lg:text-[22px] md:text-[20px] sm:text-[18px] 
}
span{
  @apply text-[24px] text-grey mb-[-10px] md:text-[18px] sm:text-[16px]
}
.dropdown span{
  @apply m-0 text-[18px] sm:text-[16px]
}
.green span{
  @apply !text-green font-bold
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent,rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  scrollbar-color:#35CC61 #DBDBDB;
  margin: 0 !important;
}

body::-webkit-scrollbar{
  background-color: #DBDBDB;
}

body::-webkit-scrollbar-thumb{
  background-color: #35CC61 !important;
  border-radius: 5px;
} */
